.limited-width, .topbar, main {
    max-width: 1280px;
}

@media screen and (max-width: 1450px) {
    body {
        font-size: 13px;
    }

    .limited-width, .topbar, main {
        max-width: 1200px;

        padding-left: 35px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 1350px) {
    body {
        font-size: 12px;
    }
    
    .limited-width, .topbar, main {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1250px) {
    body {
        font-size: 11px;
    }
    
    .limited-width, .topbar, main {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1050px) {
    body {
        font-size: 10px;
    }

    .limited-width, .topbar, main {
        width: 900px;
    }
}